* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
  font-weight: 400;
}
.navbar {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
}

ul {
  display: flex;
  list-style: none;
}

li a {
  text-decoration: none;
  color: white;
  padding: 5px 20px;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 5px 40px;
  }
  .sidebar {
    display: none;
  }
}
